# Datasets & Models (Ignore large raw datasets, keep trained model weights)
data/
data/*
!models/*.pkl
results/
*.xlsx
*.csv

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
!yolov8n-seg.pt
