# Datasets & Models (Ignore all local datasets, images, excel files, and model weights)
data/
data/*
models/*.pkl
models/*.h5
models/*.pt
models/*.onnx
results/
*.xlsx
*.csv

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
yolov8n-seg.pt
